.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
border-width:15px;
border-style:dotted;
border-color:chartreuse;  
background-image:url(BirthdayImage.jpg);
}


